body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #faf6f6;
}

/* Estilos del formulario */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #faf6f6;
}

select, input[type="text"], input[type="number"], input[type="date"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1em;
}

select {
    background-color: #f9f9f9;
}

button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 1.2em;
    
}

button:hover {
    background-color: #555;
}
